* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

.btnForm {
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 2px;
}

[class*="col-"] {
  width: 100%;
}

/**************************   
NAVBAR and HEADER STYLES
****************************/

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 5vw;
  border: none;
  outline: none;
  background-color: rgba(4, 124, 4, 0.643);
  color: white;
  cursor: pointer;
  padding: 15px 5px;
}

#backToTop:hover {
  background-color: rgba(240, 156, 0, 0.761);
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #173774;
  color: #ffffff;
}

/* Add an active class to highlight the current page */

.active {
  border-bottom: 5px solid rgba(34, 165, 197, 0.774);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}

.headerContent {
  background-color: #106bd4;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/************************
  IMG STYLES
************************/

/* style the avatar image*/

.personAvatar img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 100% 100% 5px;
  padding: 5px;
}

/***************************
Container, body, html styles
****************************/

.container {
  width: 100%;
  margin-top: 7.3vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
  font-family: "Lucida Sans", sans-serif;
}

/****************************
ABOUT, PROJECTS, CONTACT SECTION STYLES
*******************************/

.about .leftAboutText {
  background-color: #f55b5b;
  min-height: 100vh;
  text-align: center;
}

.about .leftAboutText header h1,
.projects .leftProjectsText header h1,
.contact .leftContactText header h1,
.rightProjectsText h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 15vw;
  padding: 40vh 0 0 0;
  text-align: center;
}

.about>.row>.col-m-12,
.projects>.row>.col-m-12,
.contact>.row>.col-m-12 {
  padding: 0;
  margin: 0;
}

.about .rightAboutText {
  min-height: 100vh;
  width: 80%;
  padding-bottom: 20px;
  margin: auto;
  padding-top:50px;
}

.rightAboutText h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.leftProjectsText,
.rightProjectsText {
  min-height: 100vh;
  text-align: center;
}

.leftProjectsText {
  background-color: #106bd4;
}

ul {
  list-style-position: inside;
}

.projects ul {
  list-style-type: none;
  text-align:left;
  padding-left: 10px;
}

.projectButton {
  width: 100%;
  min-height:100%;
  padding: 10%;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.projectButtonStyle1 {
  color: black;
  border: 4px solid rgba(4, 124, 4, 0.643);
}

.projectButtonStyle1:hover {
  background-color: rgba(4, 124, 4, 0.643);
}

.projectButtonStyle2 {
  color: black;
  border: 4px solid rgba(240, 156, 0, 0.761);
}

.projectButtonStyle2:hover {
  background-color: rgba(240, 156, 0, 0.761);
  color: white;
}

.projectButtonStyle3 {
  color: black;
  border: 4px solid rgba(236, 79, 236, 0.796);
}

.projectButtonStyle3:hover {
  background-color: rgba(236, 79, 236, 0.796);
  color: white;
}

.contact .leftContactText {
  background-color: rgba(247, 247, 0, 0.706);
  min-height: 100vh;
  text-align: center;
}

.contact .rightContactText {
  min-height: 100vh;
  padding: 25px 0;
  width: 80%;
  margin: auto;
}

.footer {
  width: 100%;
  background-color: #106bd4;
  min-height: 100px;
  padding-top: 7vh;
  padding-left: 30px;
  overflow: hidden;
  clear:both;

}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */

.modal .projectImages img {
  width: 100%;
  height: auto;
}

/* Caption of Modal Image */

#modalContent {
  margin: auto;
  display: block;
  width: 90%;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */

.modal {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/************************
  CONTACT FORM STYLES
  ************************/

input[type=text],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}

input[type=text]:focus,
textarea:focus {
  border: 3px solid #add8e6;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

textarea {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: auto;
}

.error {
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*****************************
WORK ON ERROR MESSAGE and when the form is submitted display bottom of page
******************************/

.errorMessage {
  color: red;
  text-align: center;
}

.submitButtons {
  text-align: center;
}

.btnForm {
  background-color: #4c6faf;
  color: white;
  padding: 12px 20px;
  border-radius: 15px;
}

.btnForm:hover {
  background-color: #106bd4;
}

.socialMediaIcons {
  padding-top: 50px;
  padding-right: 25px;
  text-align: center;
}

.socialMediaIcons a {
  padding-left: 20px;
}

/* linkedin */

.fa-linkedin {
  color: #55ACEE;
}

.fa-linkedin:active {
  color: #106bd4;
}

.fa-github {
  color: black;
}

.fa-github:active {
  color: #106bd4;
}

/*************************************** 
      MEDIA QUERIES 
      ******************************************/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  /* For tablets: */
  * {
    font-size: 2vw;
  }
  .topnav {
    float: right;
  }
  .topnav a {
    border-right: 1px solid #ffffff;
  }
  .topnav a:nth-child(5) {
    border-right: none;
  }
  #backToTop {
    font-size: 2vw;
  }
  .about .leftAboutText header h1,
  .projects .leftProjectsText header h1,
  .contact .leftContactText header h1 {
    font-size: 15vw;
  }

  .contact .rightContactText {
    min-height: 100vh;
    padding: 150px 0px 0 0;
    width: 100%;
    margin: auto;
  }
  label {
    float: right;
  }
  .errorMessage {
    font-size: 3vw;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  /* For desktop: */
  * {
    font-size: 1vw;
  }
  #backToTop {
    font-size: 1.5vw;
  }
  /* style the navbar for desktop*/
  .topnav {
    float: right;
  }
  .topnav a {
    border-right: 1px solid #ffffff;
  }
  .topnav a:nth-child(5) {
    border-right: none;
  }
  /*style the avatar image for desktop*/
  .headerContent header h1,
  .headerContent header p {
    text-align: left;
    font-size: 1.5vw;
  }
  .headerContent {
    z-index: 99;
  }
  .about {
    max-height: 100vh;
  }
  .about .leftAboutText header h1,
  .projects .leftProjectsText header h1,
  .contact .leftContactText header h1 {
    font-size: 7vw;
    padding: 30vh 0 0 0;
  }
  .about .rightAboutText {
    max-height: 100vh;
    overflow: hidden;
  }
  .leftProjectsText {
    background-color: white;
    position: relative;
  }
  .rightProjectsText {
    background-color: #106bd4;
  }

  .projectsButtonSection {
    padding-top: 30vh;
  }

  .modal {
    position: absolute;
    min-height: 100vh;
  }

  .projectButton {
    width: 100%;
    font-size: 1vw;
  }
  /* style the project images*/
  .projectImages img {
    width: 100%;
    height: auto;
    opacity: 0.1;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {
      opacity: 0.1;
    }
    to {
      opacity: .1;
    }
  }
  /* Standard syntax */
  @keyframes example {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }

  .contact {
    max-height: 100vh;
  }
  .contact .rightContactText {
    max-height: 100vh;
    padding-top: 30vh;
    width: 80%;
    margin: auto;
  }
  .errorMessage {
    font-size: 2vw;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}